# Configurazione Invio Email (Nodemailer)
# Se usi Gmail:
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tipografiaresta@gmail.com
SMTP_PASS=tuapasswordperleapp  # Da generare in myaccount.google.com/apppasswords

# Se usi Aruba:
# SMTP_HOST=smtps.aruba.it
# SMTP_PORT=465
# SMTP_USER=info@tipografiaresta.it
# SMTP_PASS=lapassworddellarubamail

# Email che riceverà i preventivi
RECIPIENT_EMAIL=tipografiaresta@gmail.com
